@page
@model FribergCarRentals.Areas.Admin.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Logged out</h1>
<p class="text-align-center">You must login to continue.</p>   
<div class="vertical-flex-container flex-container__align-items-center filled-container flex-container__padding__1-rem ">
    <h2>Login</h2>
    <form asp-area="@AdminPageModelBase.Area" asp-page="Login" class="vertical-form">
        <div class="vertical-form-field">
            <div asp-validation-summary="ModelOnly" class="error-text"></div>
        </div>
        <div class="vertical-form-field">
            <label asp-for="AdminLoginViewModel.Email"></label>
            <input asp-for="AdminLoginViewModel.Email" />
            <span asp-validation-for="AdminLoginViewModel.Email" class="error-text"></span>
        </div>
        <div class="vertical-form-field">
            <label asp-for="AdminLoginViewModel.Password"></label>
            <input asp-for="AdminLoginViewModel.Password" type="password" />
            <span asp-validation-for="AdminLoginViewModel.Password" class="error-text"></span>
        </div>
        <div class="vertical-form-field">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
