<EditForm class="vertical-form" Context="EditFormContext" Model="FormInput" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="vertical-form-field flex-container__row-gap__1-rem flex-container__align-self-center">
        @if (_apiValidationErrors.Count > 0)
        {
            <UserMessages Messages="_apiValidationErrors"></UserMessages>
        }
        <div class="vertical-form-field">
            <label for="email">Email</label>
            <InputText name="email" @bind-Value="FormInput.Email"></InputText>
            <ValidationMessage For="@(() => FormInput.Email)" class="error-text" />
        </div>
        <div class="vertical-form-field">
            <label for="password">Password</label>
            <InputText type="password" name="password" @bind-Value="FormInput.Password"></InputText>
            <ValidationMessage For="@(() => FormInput.Password)" class="error-text" />
        </div>
        <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</EditForm>