@page "/customer/login"
@using FribergCarRentalsBlazor.Components

<AuthorizeView>
	<Authorized>
			<RedirectToUrl Url="/customer"></RedirectToUrl>
	</Authorized>
	<NotAuthorized>		
		<div class="vertical-page-container">
			<h1>You have to login in before you continue!</h1>
			<nav class="navbar navbar-expand-lg d-flex flex-row justify-content-center">
				<ul class="navbar-nav">
					<CustomerLoginButton LoginButtonCssClasses="button function-button"></CustomerLoginButton>
				</ul>
			</nav>
		</div>		
	</NotAuthorized>
</AuthorizeView>