@using FribergCarRentals.Data.Types
@using FribergCarRentals.Data.EntityClasses
@using AppSettings.Shared.Settings;
@using FribergCarRentals.Data.Attributes
@using FribergCarRentals.Data.Extensions
@using MvcRazorPages.Shared.ViewModels.Car
@using FribergCarRentals.Areas.Admin.Controllers
@using FribergCarRentals.Helpers
@using MvcRazorPages.Shared.ViewModels.CarCategory
@model CreateCarCategoryViewModel

@{
    ViewData["Title"] = "Create Car Caegory";
}

<h1>Create Car Category</h1>
<div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-area="@AdminControllerBase.Area" asp-action="List" class="button navigational-button">View Categories</a>
    </div>
    <div class="horizontal-flex-container flex-container__justify-content__center filled-container flex-container__padding__1-rem">
        <form asp-area="@AdminControllerBase.Area" asp-action="Create" class="vertical-form" enctype="multipart/form-data">
            <div class="vertical-form-field">
                <div asp-validation-summary="ModelOnly" class="error-text"></div>
            </div>
            <div class="vertical-form-field">
                <label asp-for="CategoryName"></label>
                <input asp-for="CategoryName" />
                <span asp-validation-for="CategoryName" class="error-text"></span>
            </div>          
            <div class="vertical-form-field">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
