<div id="header-menu-container" class="horizontal-menu-container horizontal-menu-container__justify-content__center">
    <nav id="primary-navigation-menu" class="horizontal-menu full-width" aria-label="Primary navigation menu">
        <ul>
            <AuthorizeView Policy="@ApplicationUserPolicies.Admin">
                <li>
                    <a href="/admin">Home</a>
                </li>
                <li>
                    <a href="/admin/car/category">Car Categories</a>
                </li>
                <li>
                    <a href="/admin/car">Cars</a>
                </li>
                <li>
                    <a href="/admin/customer">Customers</a>
                </li>
                <li>
                    <a href="/admin/order">Orders</a>
                </li>
                <div class="menu-group right-aligned">
                    <li>
                        <a href="/admin/logout">Logout</a>
                    </li>                
                </div>
            </AuthorizeView>
        </ul>
    </nav>
</div>