<div id="header-menu-container" class="horizontal-menu-container horizontal-menu-container__justify-content__center">
    <nav id="primary-navigation-menu" class="horizontal-menu full-width" aria-label="Primary navigation menu">
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <AuthorizeView Policy="@ApplicationUserPolicies.Admin">
                <NotAuthorized>
                    <li>
                        <a asp-area="" asp-controller="CustomerOrder" asp-action="Book">Book</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Policy="@ApplicationUserPolicies.Customer">
                <Authorized>
                    <li>
                        <a asp-area="" asp-controller="CustomerOrder" asp-action="List">Orders</a>
                    </li>
                </Authorized>
            </AuthorizeView>
            <div class="menu-group right-aligned">
                <AuthorizeView Policy="@ApplicationUserPolicies.Admin">
                    <Authorized>
                        <li>
                            <a href="/admin">Account</a>
                        </li>
                        @* TODO - Show admin logout button *@
                    </Authorized>
                    <NotAuthorized>
                        <CustomerLoginButton></CustomerLoginButton>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </ul>
    </nav>
</div>