@model CustomerFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-action="List">View Customer List</a>
        <div>|</div>
        <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this customer?');">
            <input type="hidden" asp-for="UserId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
        <div>|</div>
        <button onclick="history.back()">Go Back</button>
    </div>
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__filled-box flex-container__padding__1-rem">
        <form asp-action="Edit" class="vertical-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="vertical-form-field">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="LastName"></label>
                <input asp-for="LastName"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="InputPassword"></label>
                <input asp-for="InputPassword"/>
                <span asp-validation-for="InputPassword" class="text-danger"></span>
            </div>
            <div class="vertical-form-field">
                <button type="submit" class="positive-button">Save</button>
            </div>
        </form>
    </div>
</div>