@page "{id}"
@model FribergCarRentals.Pages.Admin.Customer.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
@if (Model.EditCustomerViewModel.HavePageSubTitle)
{
    <h2>@Model.EditCustomerViewModel.PageSubTitle</h2>
}
else
{
    <h2>@($"#{Model.EditCustomerViewModel.UserId} - {Model.EditCustomerViewModel.FullName}")</h2>
}
<div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
    <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
        <a asp-page="List" class="button navigational-button">View Customers</a>
        <form asp-page="Delete" onsubmit="return confirm('Are you sure you want to delete this customer?');">
            <input type="hidden" name="id" value="@Model.EditCustomerViewModel.UserId" asp-for="EditCustomerViewModel.UserId" />
            <button type="submit" class="negative-button">Delete</button>
        </form>
    </div>
    <partial name="/Pages/Shared/_UserMessages.cshtml" for="EditCustomerViewModel.Messages" />
    <div class="vertical-flex-container flex-container__justify-content__center filled-container flex-container__padding__1-rem full-width">
        <form asp-page="Edit" class="vertical-form">
            <div class="vertical-form-field">
                <div asp-validation-summary="ModelOnly" class="error-text"></div>
            </div>
            <input type="hidden" asp-for="EditCustomerViewModel.UserId" />
            <div class="vertical-form-field">
                <label asp-for="EditCustomerViewModel.FirstName"></label>
                <input asp-for="EditCustomerViewModel.FirstName" />
                <span asp-validation-for="EditCustomerViewModel.FirstName" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="EditCustomerViewModel.LastName"></label>
                <input asp-for="EditCustomerViewModel.LastName" />
                <span asp-validation-for="EditCustomerViewModel.LastName" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="EditCustomerViewModel.Email"></label>
                <input asp-for="EditCustomerViewModel.Email" />
                <span asp-validation-for="EditCustomerViewModel.Email" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <label asp-for="EditCustomerViewModel.Password"></label>
                <input asp-for="EditCustomerViewModel.Password" />
                <span asp-validation-for="EditCustomerViewModel.Password" class="error-text"></span>
            </div>
            <div class="vertical-form-field">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
