<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FribergCarRentals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentals.styles.css" asp-append-version="true" />
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script defer src="Scripts/read-mode.js"></script>
    <script defer src="Scripts/contrast-mode.js"></script>
    <script defer src="Scripts/measure-mode.js"></script>
    <script defer src="Scripts/responsive-menu.js"></script>
</head>
<body>
    <div id="site-container" class="site-container">
        <div id="page-container" class="page-container">
            <!-- The site header -->
            <header id="site-header" class="header-container">
                <div class="jump-to-content-container">
                    <a href="#main">To main content</a>
                </div>
                <div class="horizontal-flex-container flex-container__justify-content__space-between flex-container__align-items-center">
                    <div class="site-info-container">
                        <div class="site-logo-container">
                            <img src="graphics/logo.webp" alt="Site logo.">
                        </div>
                        <div class="site-title-container">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Friberg Car Rentals</a>
                        </div>
                    </div>
                    <form role="search" method="get" action="?">
                        <div class="horizontal-flex-container flex-container__column-gap-small">
                            <input type="search" class="input-field" id="widget-search-phrase" name="widget-search-phrase" value="" placeholder="" required />
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </div>                
                <div id="header-menu-container" class="horizontal-menu-container horizontal-menu-container__when-contains-dropdown-nav-menu__justify-content-center">
                    <div id="accessibility-menu" class="dropdown-menu dropdown-menu__is-function-menu" tabindex="0">
                        <div class="dropdown-menu-icon">
                            <img src="graphics/accessibility-white-32.png" alt="accessibility menu icon">
                        </div>
                        <ul id="accessibility-menu-item-container"></ul>
                    </div>
                    <!-- The primary navigation menu -->
                    <nav id="primary-navigation-menu" class="horizontal-menu" aria-label="Primary navigation menu">
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Cars">Cars</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="AdminCar" asp-action="List">Admin cars</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="AdminCustomer" asp-action="List">Admin customers</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="AdminCarOrder" asp-action="List">Admin car orders</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="CarBooking" asp-action="ListFutureBookings">Car bookings</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="CarBooking" asp-action="ListPastBookings">Past car bookings</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- The page content -->
            <div id="page-content-container" class="page-content-container">
                <!-- The main content -->
                <main id="main" class="main-content-container">
                    @RenderBody()
                </main>
                <!-- The sidebar -->
                <aside id="right-sidebar" class="right-sidebar-container" aria-label="sidebar">
                    @if (IsSectionDefined("RightSidebar"))
                    {
                        @RenderSection("RightSidebar")
                    }
                </aside>
            </div>
            <!-- The site footer -->
            <footer id="site-footer" class="footer-container">
                <div class="left-footer-container"></div>
                <!-- The secondary navigation menu -->
                <nav id="secondary-navigation-menu" class="horizontal-menu footer-menu" aria-label="Secondary navigation menu">
                    <ul id="secondary-navigation-menu-container">
                        <li>
                            <a class="footer-link" asp-area="" asp-controller="Home" asp-action="AboutUs">
                                <img src="graphics/about-us-icon.svg" alt="About us icon.">
                                <div>About us</div>
                            </a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">
                                <img src="graphics/contact-us-icon.svg" alt="Email icon.">
                                <div>Contact us</div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="right-footer-container">
                    <span>© Copyright 2024-</span>
                </div>
            </footer>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>