@attribute [Route(PageUrl)]
@using FribergCarRentalsBlazor.Components

<PageTitle>Home</PageTitle>

<h1>Browse our cars</h1>
<div class="vertical-flex-container flex-container__justify-content__center flex-container__align-items-center flex-container__row-gap__1-rem">
    @if (ImageSlides != null)
    {
        <BlazorImageSlideShow Images="ImageSlides.Models" ShowNavigationalDots="true"></BlazorImageSlideShow>
    }
    else if (_apiValidationErrors.Count > 0)
    {
        <h2>Failed to load images</h2>
        <UserMessages Messages="_apiValidationErrors"></UserMessages>
    } 
    <p class="text-align-center no-margin">We have a fine selection of cars that you can rent right away.</p>
    <a class="button" href="order/book">Find your car</a>
</div>
