@using Microsoft.AspNetCore.Authorization
@using FribergFastigheter.Shared.Constants
@inject IAuthorizationService AuthorizationService

<li>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li>
    <a asp-area="" asp-controller="CustomerOrder" asp-action="Book">Book</a>
</li>
@if ((await AuthorizationService.AuthorizeAsync(User, ApplicationUserPolicies.Customer)).Succeeded)
{
    <li>
        <a asp-area="" asp-controller="CustomerOrder" asp-action="List">Orders</a>
    </li>
}

<div class="menu-group right-aligned">
    @if ((await AuthorizationService.AuthorizeAsync(User, ApplicationUserPolicies.Customer)).Succeeded)
    {
        <li>
            <a asp-area="" asp-controller="Customer" asp-action="Logout">Logout</a>
        </li>
    }
    else if (!User.Identities.First().IsAuthenticated)
    {
        <li>
            <a asp-area="" asp-controller="Customer" asp-action="Authenticate">Register/Login</a>
        </li>
    }
</div>
