
<li>
    <a asp-area="" asp-page="/Admin/Index">Home</a>
</li>
<li>
    <a asp-area="" asp-page="/Admin/Car/Category/List">Car Categories</a>
</li>
<li>
    <a asp-area="" asp-page="/Admin/Car/List">Cars</a>
</li>
<li>
    <a asp-area="" asp-page="/Admin/Customer/List">Customers</a>
</li>
<li>
    <a asp-area="" asp-page="/Admin/Order/List">Orders</a>
</li>
<li>
    <a asp-area="" asp-page="/Admin/Logout">Logout</a>
</li>
