@using FribergCarRentals.Shared.Constants
@using Microsoft.AspNetCore.Authorization
@using FribergFastigheter.Shared.Constants
@inject IAuthorizationService AuthorizationService

<li>
    <a asp-area="" asp-page="/Index">Home</a>
</li>
<li>
    <a asp-area="" asp-page="/Order/Book">Book</a>
</li>
@if ((await AuthorizationService.AuthorizeAsync(User, ApplicationUserPolicies.Customer)).Succeeded)
{
    <li>
        <a asp-area="" asp-page="/Order/List">Orders</a>
    </li>
}

<div class="menu-group right-aligned">
    @if ((await AuthorizationService.AuthorizeAsync(User, ApplicationUserPolicies.Customer)).Succeeded)
    {
        <li>
            <a asp-area="" asp-page="/Customer/Logout">Logout</a>
        </li>
    }
    else if (!User.Identities.First().IsAuthenticated)
    {
        <li>
            <a asp-area="" asp-page="/Customer/Authenticate">Register/Login</a>
        </li>
    }
</div>
