<AuthorizeView Policy="@ApplicationUserPolicies.Admin">
	@if (Order != null && Order.CarOrderId > 0)
	{
		<button class="negative-button" @onclick="@(() => DeleteOrder())">Delete</button>
	}	
</AuthorizeView>

