<AuthorizeView Policy="@ApplicationUserPolicies.Admin">
    @if (CarCategory.HaveCarCount && CarCategory.CarCount == 0)
    {
        <button class="negative-button" @onclick="@(() => DeleteCategory())">Delete</button>
    }
</AuthorizeView>

