@attribute [Route(PageUrl)]
@using FribergCarRentals.Shared.Helpers
@using FribergCarRentalsBlazor.Components
@inherits AdminPageComponentBase

<AuthorizeView Policy="@ApplicationUserPolicies.Admin">
	<Authorized>
        <h1>Create Car Category</h1>
        <div class="vertical-flex-container flex-container__align-items-center flex-container__row-gap__1-rem">
            <div class="horizontal-flex-container flex-container__justify-content__center flex-container__column-gap__0-5-rem">
                <a href="@ListCategories.PageUrl" class="button navigational-button">View Categories</a>
            </div>
            <div class="horizontal-flex-container flex-container__justify-content__center filled-container flex-container__padding__1-rem">
                <EditForm Context="EditForm" Model="CreateCarCategoryViewModel" class="vertical-form" OnValidSubmit="OnCreateCategory">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    @if (_apiValidationErrors.Count > 0)
                    {
                        <UserMessages Messages="_apiValidationErrors"></UserMessages>
                    }
                    <div class="vertical-form-field">
                        <label for="category-name">Category name</label>
                        <InputText id="category-name" @bind-Value="CreateCarCategoryViewModel.CategoryName"></InputText>
                        <ValidationMessage For="@(() => CreateCarCategoryViewModel.CategoryName)" class="error-text" />
                    </div>
                    <div class="vertical-form-field">
                        <button type="submit">Create</button>
                    </div>
                </EditForm>
            </div>
        </div>
	</Authorized>
    <NotAuthorized>
		<RedirectToLogin ReturnToUrl="@NavigationManager.Uri"></RedirectToLogin>
	</NotAuthorized>
</AuthorizeView>